html{ scroll-behavior: smooth; }

body{
    /* background-image: -moz-linear-gradient(rgb(44, 0, 102), rgb(141, 0, 255));
    background-image: -o-linear-gradient(rgb(44, 0, 102), rgb(140, 0, 255));
    background-image: -webkit-linear-gradient(rgb(44, 0, 102), rgb(140, 0, 255)); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fira Sans', sans-serif;
    overflow: scroll;
}



/* Hide scroll bar */
body::-webkit-scrollbar{ display: none; } /* Chrome, Safari and Opera */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}



/* Navigation Bar element styles */
.navbar{ opacity: 90%; }
.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    letter-spacing: 0.05em;
    margin-left: 1%;
}
.navbar-space{ width: 30%; } /* introduces a space after brand name in large screens */
.nav-item{ margin-right: 2em; } /* Space after each nav link */




/* Carousel Element Styles */
.carousel-button{ visibility: hidden; } /* Hide carousel controls. Show only when hovered */
.carousel-item img{ filter: brightness(30%); } /* Darken carousel images for better appearance */
.carousel-caption button{ color: white; }
.carousel-indicators{ left: 60%; } /* Shift carousel indeicators to right */
.carousel-indicators li{
    /* Dot carousel indicators */
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.card{ transition: 0.3s transform ease, 0.3s box-shadow ease; }
.card:hover{
    transform: scale(1.05);
    box-shadow:  0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



/* SCROLL TO TOP STYLES */
#scrolltotop{
    font-size: 2em;
    padding: 0em;
    margin-right: 0.3em;
    position: fixed;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    text-decoration: none;
    color: #007bff; 
} 



/* basic css properties for general elements */
.container{
    padding-top: 4em;
    text-align: center;
}
.container h1{ padding-top: 1em; }
.container .sub-section{ padding: 2em; }
.container .sub-section .fa{
    font-size: 4em;
    margin: 0.2em;
}


/* Projects Card styles */
.sub-section .card{  border-radius: 10px; }
.sub-section .card img{ border-radius: 10px 10px 0px 0px; }



/* Videos Section styles */
.video-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.video-group > .row > .col-sm-4 {
    display: inline-block;
    float: none;
}
/* Custom scroll bar */
.video-group .row{ scrollbar-color: #007bff #F5F5F5; }
.video-group .row::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
}
.video-group .row::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px; 
}
.video-group .row::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #007bff;
}
.video-group .row::-webkit-scrollbar-thumb:hover { background: #007bff; }




/* Navigation Bar Link underline animation */
#navbarNav .nav-item .nav-link {
    position: relative;
  }
#navbarNav .nav-item .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #007bff; /*Color of the underline bar. BE FREE TO MANIPULATE!!*/
    transition: 0.4s; /*Animation delay of the underline. BE FREE TO MANIPULATE!!*/
}
@media (min-width: 992px) {
    #navbarNav .nav-item .nav-link:hover:after {
        width: 100%;
    }
}
#navbarNav .nav-item .active:after {
    width: 100%;
}



 /* Animated toggler button styles */
.navbar-toggler.x { border: none;  }
.navbar-toggler.x:focus { outline: none; }
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%; 
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0); 
}
.navbar-toggler.x[aria-expanded="true"] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; 
}
.navbar-toggler.x .icon-bar + .icon-bar { margin-top: 4px; }
.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); 
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100); 
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0); 
}
