html{
    height: 100%;
}

body{
    background-image: -moz-linear-gradient(rgb(44, 0, 102), rgb(69, 0, 126));
    background-image: -o-linear-gradient(rgb(44, 0, 102), rgb(69, 0, 126));
    background-image: -webkit-linear-gradient(rgb(44, 0, 102), rgb(84, 1, 151));
    background-repeat: no-repeat;
    background-size: cover;

    
}